.auth-form {
  width: fit-content;
  min-width: 480px;
  padding: 56px 32px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .form-heading {
    display: block;
    position: absolute;
    top: -15px;
    background-color: white;
    padding: 0px 12px;
    color: rgb(120, 120, 120);
  }
  .form-section {
    display: block;
    padding-bottom: 28px;
    position: relative;

    label {
      display: block;
      width: 100%;
      font-size: 14px;
      padding: 0 9px;
      padding-bottom: 5px;
      color: rgb(120, 120, 120);
    }

    p {
      font-size: 12px;
      color: rgb(163, 0, 0);
      position: absolute;
      bottom: 10px;
    }
    input {
      background-color: transparent;
      box-shadow: none;
      border: none;
      border-bottom: 1px solid rgb(102, 102, 102);
      color: rgb(69, 69, 69);
      width: 100%;
      padding: 7px 9px;
      transition: 0.2s;

      &:focus {
        outline: none;
        border-bottom: 1px solid rgb(50, 62, 39);
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .submit-button {
    margin-top: 24px;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
